*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

button{
    cursor: pointer;
}

body{
    background-color:  #c5e1e6;
}

.navbar{
    display: flex;
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color:  #c5e1e6;
    margin-bottom : 10px;
    align-items : center;
}

.fa-brands{
    font-size: 30px;
    margin-right: 10px;
    color : #e41d58;
}

.navbar ul{
    display: flex;
    /* justify-content: end; */
    align-items: center;
    column-gap: 2rem;
    list-style: none;
    height: 2.5rem;
}
.navbar ul li a{
    text-decoration: none;
    color: Black;
}

.main-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    justify-content: space-evenly;
}

.heading a{
    color: Black;
    margin-bottom: 5px;
    text-decoration: none;
}

.box{
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 22%;
    /* background-color: rgb(221 219 230); */
    border-radius: 15px;
    height: auto;
    max-height: 550px;
    text-align: start;
}
.box h4,h5{
    font-weight: 400;
}

.inner-box{
    /* height: 300px; */
    /* background-color : brown; */
    display: block;
    /* margin: auto; */
}
.inner-box h3{
    font-weight:400;
    font-size: small;
    margin-bottom: 5px;
}

.card-img{
    border-radius : 15px;
    display: block;
    margin:5px auto;
    width: 100%;
    height: 50%;
    background-clip: content-box;
    background-size: cover;
}

.main-box{
    display: block;
    width: 70%;
    margin: 15px  auto;
    border-radius : 5px;
    padding: 10px;
}
.main-box h1 {
    font-weight: 600;
    margin-bottom: 10px;
}
.main-box h3{
    font-weight: 300;
} 
.main-box div{
    width: 100%;
    display: flex;
    font-size: medium;
    justify-content: space-between;
}
.main-box div .main-box-price{
    font-weight: 500;
    font-size: medium;
}
.main-box div h3{
    font-size: medium;

}
.main-box img{
    width: 60%;
    border-radius : 5px;
    border : 2px solid  black;
}

.new-post {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 50%;
    /* background-color: rgba(186, 184, 196, 0.512); */
    padding: 30px;
    border-radius: 5px;
}

.new-box{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly ;
    height: 5rem;
    border-radius: 5px;
}
.new-box input,textarea{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    height: 1.5rem;
}

.sub-btn{
    color  : white;
    margin: 10px auto;
    width: 100%;
    height: 2.5rem;
    background-color : #e41d58;
    border : none;
}

.btn-container{
    margin: 10px auto;
    /* display: flex; */
    flex-direction: row;
    justify-content: space-evenly;
    align-self: end;
    width: 100%;
}

.in-btn{
    margin: 2px;
    width: 100%;
    border-radius: 5px;
    border : none;
    background-color : rgba(203, 41, 87, 0.336);
    height: 2rem;
}

.search{
    height: 2.5rem;
    width: 10rem;
    border : none;
    padding: 1rem;
}

.search-form{
    display: block;
    margin-left: 224px;
}
.input-container{
    background-color : rgb(255, 255, 255);
    padding: 4px;
    border-radius : 2rem;
}


.search-btn{
    height: 2.5rem;
    width: 2.5rem;
    border-radius : 50%;
    background-color : #e41d58;
    border : none;
}


#keyword{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 1px solid grey;
}

#country{
    /* border-right: 1px solid black; */
    border-left: 1px solid grey;
}

/* .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
} */