<%- include("../include/head.ejs") %>
<title>Cart</title>
</head>
<body>
    <h1 style = "text-align: center;">Nothing in Cart</h1>
    <a href="/listing" style = "text-align: center; color  : black ; margin: 20px;"><p>Click here to show posts</p></a>
    </body>
    <style>
        .mid,.dropdown{
            display: none;
        }
    </style>
</html>