<%- include("../include/head.ejs") %>
<title>Cart</title>
</head>
<body>
    <h1 style = "text-align: center;">No Search Found</h1>
    <!-- <a href="/listing" style = "text-align: center; color  : black ; margin: 20px;"><p>Click here to show more posts</p></a> -->
    </body>
    <style>
        .dropdown{
            display: none;
        }
    </style>
</html>