<%- include("../include/head2.ejs") %>
<title>404 : Page Not Found</title>
</head>
<body>
    <div class="main-container-error">
        <span style="display: inline-block; font-size: 100px; color: #000000; border-radius: 200px; padding: 10px 0px;">(◡︵◡)</span>
        <h1>404</h1>
        <h3>Page Not Found</h3>
    </div>
<!-- <%- include("../include/footer.ejs") %> -->
</body>
</html>